html {
  background-color: #66b;
}
input {
  height: 30px;
  width: 200px;
  size: "200";
}

p {
  font-size: large;
}

button {
  height: 130px;
  width: 240px;
  font-size: 200%;
  background-color: #f00;
  color: #0f0;
}